In [1]:
import pandas as pd
from sqlalchemy import Column, ForeignKey, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship, Session
from sqlalchemy import create_engine

In [2]:
df_m_clean = pd.read_csv('Resources/clean_hawaii_measurements.csv')
df_s_clean = pd.read_csv('Resources/clean_hawaii_stations.csv')
df_m_clean.head()

       station      date  prcp  tobs
0  USC00519397  20100101  0.08    65
1  USC00519397  20100102  0.00    63
2  USC00519397  20100103  0.00    74
3  USC00519397  20100104  0.00    76
4  USC00519397  20100106  0.00    73

In [3]:
engine = create_engine('sqlite:///hawaii.sqlite', echo=False)
Base = declarative_base()


class Measurement(Base):

    __tablename__ = "measurement"

    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(Integer)
    prcp = Column(Float)
    tobs = Column(Integer) 
        
class Station(Base):

    __tablename__ = "station"

    id = Column(Integer, primary_key=True)
    station = Column(String(255))  
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

Base.metadata.create_all(engine)

2017-10-21 16:39:47,829 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-10-21 16:39:47,839 INFO sqlalchemy.engine.base.Engine ()
2017-10-21 16:39:47,843 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-10-21 16:39:47,846 INFO sqlalchemy.engine.base.Engine ()
2017-10-21 16:39:47,850 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("measurement")
2017-10-21 16:39:47,853 INFO sqlalchemy.engine.base.Engine ()
2017-10-21 16:39:47,862 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("station")
2017-10-21 16:39:47,864 INFO sqlalchemy.engine.base.Engine ()
2017-10-21 16:39:47,868 INFO sqlalchemy.engine.base.Engine
CREATE TABLE measurement (
	id INTEGER NOT NULL,
	station VARCHAR(255),
	date INTEGER,
	prcp FLOAT,
	tobs INTEGER,
	PRIMARY KEY (id)
)


2017-10-21 16:39:47,874 INFO sqlalchemy.engine.base.Engine ()
2017-10-21 16:39:47,894 INFO sqlalchemy.engine.base.Engine COMMIT
2017-10-21 16:39:47,901 INFO sqlalchemy.engine.base.Engine
CREATE TABLE station (
	id INTEGER NOT NULL,
	station VARCHAR(255),
	name VARCHAR(255),
	latitude FLOAT,
	longitude FLOAT,
	elevation FLOAT,
	PRIMARY KEY (id)
)


2017-10-21 16:39:47,907 INFO sqlalchemy.engine.base.Engine ()
2017-10-21 16:39:47,920 INFO sqlalchemy.engine.base.Engine COMMIT

In [4]:
df_m_clean.to_sql('measurement', engine, if_exists='replace')
df_s_clean.to_sql('station', engine, if_exists='replace')

2017-10-21 16:39:47,973 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("measurement")
2017-10-21 16:39:47,975 INFO sqlalchemy.engine.base.Engine ()
2017-10-21 16:39:47,986 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("measurement")
2017-10-21 16:39:47,990 INFO sqlalchemy.engine.base.Engine ()
2017-10-21 16:39:47,999 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2017-10-21 16:39:48,002 INFO sqlalchemy.engine.base.Engine ()
2017-10-21 16:39:48,006 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("measurement")
2017-10-21 16:39:48,008 INFO sqlalchemy.engine.base.Engine ()
2017-10-21 16:39:48,016 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'measurement' AND type = 'table'
2017-10-21 16:39:48,020 INFO sqlalchemy.engine.base.Engine ()
2017-10-21 16:39:48,031 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("measurement")
2017-10-21 16:39:48,034 INFO sqlalchemy.engine.base.Engine ()
2017-10-21 16:39:48,042 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'measurement' AND type = 'table'
2017-10-21 16:39:48,047 INFO sqlalchemy.engine.base.Engine ()
2017-10-21 16:39:48,058 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("measurement")
2017-10-21 16:39:48,062 INFO sqlalchemy.engine.base.Engine ()
2017-10-21 16:39:48,069 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("measurement")
2017-10-21 16:39:48,078 INFO sqlalchemy.engine.base.Engine ()
2017-10-21 16:39:48,082 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'measurement' AND type = 'table'
2017-10-21 16:39:48,085 INFO sqlalchemy.engine.base.Engine ()
2017-10-21 16:39:48,094 INFO sqlalchemy.engine.base.Engine
DROP TABLE measurement
2017-10-21 16:39:48,099 INFO sqlalchemy.engine.base.Engine ()
2017-10-21 16:39:48,109 INFO sqlalchemy.engine.base.Engine COMMIT
2017-10-21 16:39:48,125 INFO sqlalchemy.engine.base.Engine
CREATE TABLE measurement (
	"index" BIGINT,
	station TEXT,
	date BIGINT,
	prcp FLOAT,
	tobs BIGINT
)


2017-10-21 16:39:48,129 INFO sqlalchemy.engine.base.Engine ()
2017-10-21 16:39:48,159 INFO sqlalchemy.engine.base.Engine COMMIT
2017-10-21 16:39:48,165 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_measurement_index ON measurement ("index")
2017-10-21 16:39:48,171 INFO sqlalchemy.engine.base.Engine ()
2017-10-21 16:39:48,185 INFO sqlalchemy.engine.base.Engine COMMIT
2017-10-21 16:39:48,196 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-10-21 16:39:48,494 INFO sqlalchemy.engine.base.Engine INSERT INTO measurement ("index", station, date, prcp, tobs) VALUES (?, ?, ?, ?, ?)
2017-10-21 16:39:48,495 INFO sqlalchemy.engine.base.Engine ((0, 'USC00519397', 20100101, 0.08, 65), (1, 'USC00519397', 20100102, 0.0, 63), (2, 'USC00519397', 20100103, 0.0, 74), (3, 'USC00519397', 20100104, 0.0, 76), (4, 'USC00519397', 20100106, 0.0, 73), (5, 'USC00519397', 20100107, 0.06, 70), (6, 'USC00519397', 20100108, 0.0, 64), (7, 'USC00519397', 20100109, 0.0, 68)  ... displaying 10 of 19550 total bound parameter sets ...  (19548, 'USC00516128', 20170822, 0.5, 76), (19549, 'USC00516128', 20170823, 0.45, 76))
2017-10-21 16:39:48,629 INFO sqlalchemy.engine.base.Engine COMMIT
2017-10-21 16:39:48,657 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("station")
2017-10-21 16:39:48,659 INFO sqlalchemy.engine.base.Engine ()
2017-10-21 16:39:48,664 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("station")
2017-10-21 16:39:48,667 INFO sqlalchemy.engine.base.Engine ()
2017-10-21 16:39:48,674 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2017-10-21 16:39:48,681 INFO sqlalchemy.engine.base.Engine ()
2017-10-21 16:39:48,689 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("station")
2017-10-21 16:39:48,695 INFO sqlalchemy.engine.base.Engine ()
2017-10-21 16:39:48,707 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'station' AND type = 'table'
2017-10-21 16:39:48,716 INFO sqlalchemy.engine.base.Engine ()
2017-10-21 16:39:48,722 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("station")
2017-10-21 16:39:48,725 INFO sqlalchemy.engine.base.Engine ()
2017-10-21 16:39:48,736 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'station' AND type = 'table'
2017-10-21 16:39:48,738 INFO sqlalchemy.engine.base.Engine ()
2017-10-21 16:39:48,740 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("station")
2017-10-21 16:39:48,747 INFO sqlalchemy.engine.base.Engine ()
2017-10-21 16:39:48,750 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("station")
2017-10-21 16:39:48,756 INFO sqlalchemy.engine.base.Engine ()
2017-10-21 16:39:48,759 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'station' AND type = 'table'
2017-10-21 16:39:48,766 INFO sqlalchemy.engine.base.Engine ()
2017-10-21 16:39:48,779 INFO sqlalchemy.engine.base.Engine
DROP TABLE station
2017-10-21 16:39:48,784 INFO sqlalchemy.engine.base.Engine ()
2017-10-21 16:39:48,918 INFO sqlalchemy.engine.base.Engine COMMIT
2017-10-21 16:39:48,925 INFO sqlalchemy.engine.base.Engine
CREATE TABLE station (
	"index" BIGINT,
	station TEXT,
	name TEXT,
	latitude FLOAT,
	longitude FLOAT,
	elevation FLOAT
)


2017-10-21 16:39:48,928 INFO sqlalchemy.engine.base.Engine ()
2017-10-21 16:39:49,016 INFO sqlalchemy.engine.base.Engine COMMIT
2017-10-21 16:39:49,018 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_station_index ON station ("index")
2017-10-21 16:39:49,020 INFO sqlalchemy.engine.base.Engine ()
2017-10-21 16:39:49,122 INFO sqlalchemy.engine.base.Engine COMMIT
2017-10-21 16:39:49,128 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-10-21 16:39:49,156 INFO sqlalchemy.engine.base.Engine INSERT INTO station ("index", station, name, latitude, longitude, elevation) VALUES (?, ?, ?, ?, ?, ?)
2017-10-21 16:39:49,162 INFO sqlalchemy.engine.base.Engine ((0, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0), (1, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6), (2, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0), (3, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9), (4, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6), (5, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5), (6, 'USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999995, 32.9), (7, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9), (8, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4))
2017-10-21 16:39:49,171 INFO sqlalchemy.engine.base.Engine COMMIT