In [122]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import json
import re

# Reading in my poker tournament data
df_poker = pd.read_csv("Resources/Jamie_Poker.csv")
# Setting focus user
user = 'JJin91'

# Hand history df
df_hh = pd.DataFrame(columns=['Tournament_ID','Hand_Count','Players_At_Table','User_Position','Cards','Chip_Count'])
df_poker

,Tournament_ID,Date,Buy_In,Prize_Pool,Placement,Entrants,Award
0,1597683884,2017/05/02 19:00:00 ET,20,1983.80,7,109,79.35
1,1597684008,2017/05/05 13:30:00 ET,15,1431.00,8,106,46.50
2,1597684021,2017/05/05 19:00:00 ET,20,2093.00,1,115,481.46
3,1597684053,2017/05/06 13:30:00 ET,15,1444.50,15,107,18.77
4,1597684117,2017/05/07 21:00:00 ET,5,500.00,5,16,32.50
5,1622537113,2017/05/09 18:00:00 ET,10,1046.50,17,115,21.45
6,1622537329,2017/05/14 13:30:00 ET,15,1606.50,10,119,34.53
7,1622573245,2017/05/24 21:00:00 ET,5,541.45,14,119,11.64
8,1622573280,2017/05/25 18:00:00 ET,10,1528.80,13,168,22.93
9,1648956582,2017/06/19 19:00:00 ET,20,2875.60,13,158,43.13
10,1648956629,2017/06/20 19:00:00 ET,20,1747.20,1,96,436.86
11,1648956862,2017/06/25 21:00:00 ET,5,550.55,13,121,11.83
12,1648990476,2017/07/06 19:00:00 ET,20,2457.00,2,135,380.83
13,1701776547,2017/09/13 19:00:00 ET,20,2020.20,15,111,43.43

In [123]:
# Position finder function based on button position, user position, and number of seats
def position_finder(button_seat_position,user_seat_position,num_of_players):
    if num_of_players == 2:
        if button_seat == user_seat:
            return 'SB'
        else:
            return 'BB'
    else:
        if button_seat == user_seat:
            return 'BT'
        elif button_seat_position - user_seat_position == -1 or button_seat_position - user_seat_position == num_of_players-1:
            return 'SB'
        elif button_seat_position - user_seat_position == -2 or button_seat_position - user_seat_position == num_of_players-2:
            return 'BB'
        elif button_seat_position - user_seat_position == -3 or button_seat_position - user_seat_position == num_of_players-3:
            return 'UTG'
        elif button_seat_position - user_seat_position == 1 or button_seat_position - user_seat_position == -(num_of_players-1):
            return 'CO'
        elif button_seat_position - user_seat_position == -4 or button_seat_position - user_seat_position == num_of_players-4:
            return 'UTG+1'
        elif button_seat_position - user_seat_position == 2 or button_seat_position - user_seat_position == -(num_of_players-2):
            return 'HJ'
        elif button_seat_position - user_seat_position == -5 or button_seat_position - user_seat_position == num_of_players-5:
            return 'MP'
        elif button_seat_position - user_seat_position == -6 or button_seat_position - user_seat_position == num_of_players-6:
            return 'MP+1'
        else:
            return 'table position error'

In [124]:
tourny = []
# Reading all hand history text files
for i in range(len(df_poker)): 
    tourny_temp = open("Resources/{}.txt".format(df_poker['Tournament_ID'].iloc[i]),'r').read()
    # Removing bottom contact message
    tourny_temp = tourny_temp.split("\n\n\n\n", 1)[0]
    # Splitting by hands and removing top hand history request message
    tourny_temp_split = re.split('\*{11}\s\#\s\d*\s\*{14}',tourny_temp)[1:]
    tourny_temp_split
    tourny.append(tourny_temp_split)

index = 0
for i in range(len(tourny)):
    hand_count = 1
    for ii in range(len(tourny[i])):
        # Tourny ID to df_hh
        tourny_id = re.search("Tournament #\d{10}", tourny[i][ii]).group().split(' ')[1][1:]
        df_hh.set_value(index, 'Tournament_ID', tourny_id)
        
        seat_list = [int(i.split(" ")[1]) for i in re.findall("Seat\s\d",tourny[i][ii].split("*** SUMMARY ***")[1])]   
        button_seat = int(re.search("Seat \#\d is the button", tourny[i][ii]).group().split(" #")[1].split(" ")[0])
        user_seat = int(re.search("Seat \d\: " + user, tourny[i][ii]).group().split(": ")[0].split(" ")[1])
        
        # Players at table of tourny[i] hand[ii] to df_hh
        df_hh.set_value(index, 'Players_At_Table', len(seat_list))
        
        # Find user position using above position finder funciton
        try:
            user_position = position_finder(seat_list.index(button_seat),seat_list.index(user_seat),len(seat_list))
            df_hh.set_value(index, 'User_Position', user_position)
        except:
            print("tournament {} hand {} position fail".format(df_poker['Tournament_ID'].iloc[i],hand_count))

        # Hand number of tourny[i] hand[ii] to df_hh
        df_hh.set_value(index, 'Hand_Count', hand_count)
        
        # User cards to df_hh
        try:
            df_hh.set_value(index, 'Cards', re.search('(?<={}\s\[)\w\w\s\w\w'.format(user),tourny[i][ii]).group().split(' '))
        except:
            print("tournament {} hand {} cards fail".format(df_poker['Tournament_ID'].iloc[i],hand_count))
        
        # Chip count before start of hand to df_hh
        df_hh.set_value(index, 'Chip_Count', int(re.search('(?<=Seat \d\: {}\s\()\d*'.format(user),tourny[i][ii]).group()))
        
        index += 1
        hand_count += 1
        
df_hh

tournament 1622537113 hand 94 position fail
tournament 1622537113 hand 94 cards fail
tournament 1648956862 hand 2 position fail
tournament 1648956862 hand 2 cards fail

,Tournament_ID,Hand_Count,Players_At_Table,User_Position,Cards,Chip_Count
0,1597683884,1,8,HJ,"[4d, 5c]",10000
1,1597683884,2,8,MP,"[3s, 8h]",9960
2,1597683884,3,8,UTG+1,"[Jd, 6h]",9910
3,1597683884,4,8,UTG,"[5s, Qs]",9860
4,1597683884,5,7,BB,"[9d, Js]",9810
5,1597683884,6,8,SB,"[Ts, 9h]",9360
6,1597683884,7,8,BT,"[Ts, 7s]",9110
7,1597683884,8,8,CO,"[9h, Ts]",18920
8,1597683884,9,8,HJ,"[5c, Qc]",18870
9,1597683884,10,7,UTG+1,"[6d, Kh]",18820
10,1597683884,11,8,UTG,"[Ac, Js]",18770
11,1597683884,12,8,BB,"[5h, 9d]",20484
12,1597683884,13,8,SB,"[Th, 2s]",20034
13,1597683884,14,8,BT,"[Jc, 9c]",19784
14,1597683884,15,8,CO,"[Kh, 9s]",22088
15,1597683884,16,8,HJ,"[5h, Ks]",22028
16,1597683884,17,9,MP+1,"[7h, Jc]",21968
17,1597683884,18,9,MP,"[8c, Js]",21908
18,1597683884,19,9,UTG+1,"[6c, 3h]",21848
19,1597683884,20,9,UTG,"[6h, Th]",21788
20,1597683884,21,9,BB,"[3d, Js]",21728
21,1597683884,22,9,SB,"[2c, Qs]",21168
22,1597683884,23,8,BT,"[8d, Ts]",20858
23,1597683884,24,8,CO,"[7h, 4d]",20798
24,1597683884,25,8,HJ,"[Ks, 8s]",20738
25,1597683884,26,8,MP,"[2d, 4h]",20678
26,1597683884,27,8,UTG+1,"[6s, Kc]",20618
27,1597683884,28,8,BB,"[3d, 2h]",20558
28,1597683884,29,8,SB,"[2c, 4c]",19998
29,1597683884,30,9,BT,"[Qd, Ac]",19328
...,...,...,...,...,...,...
3277,1701776547,197,6,BT,"[2d, Ad]",54122
3278,1701776547,198,6,CO,"[7h, Js]",59122
3279,1701776547,199,6,UTG+1,"[5d, Ts]",58872
3280,1701776547,200,9,UTG,"[5s, 2s]",58622
3281,1701776547,201,9,BB,"[2h, 7c]",58372
3282,1701776547,202,9,SB,"[Td, Qc]",61372
3283,1701776547,203,8,BT,"[2h, 8c]",60122
3284,1701776547,204,8,CO,"[2c, Kd]",55532
3285,1701776547,205,8,HJ,"[Qc, 7s]",55282
3286,1701776547,206,8,MP,"[6s, 7h]",55032
3287,1701776547,207,8,UTG+1,"[As, 3d]",54782
3288,1701776547,208,8,UTG,"[Kc, 2d]",54532
3289,1701776547,209,8,BB,"[Jh, 5c]",54282
3290,1701776547,210,8,SB,"[4h, 8d]",52032
3291,1701776547,211,8,BT,"[8d, Kd]",50782
3292,1701776547,212,8,CO,"[5s, Kh]",45532
3293,1701776547,213,8,HJ,"[Qs, 6d]",45282
3294,1701776547,214,8,MP,"[3c, Ac]",45032
3295,1701776547,215,8,UTG+1,"[5c, 5h]",44707
3296,1701776547,216,8,UTG,"[Kc, 9d]",31511
3297,1701776547,217,8,BB,"[3s, 6c]",31186
3298,1701776547,218,8,SB,"[9d, 6d]",35961
3299,1701776547,219,8,BT,"[Jh, 9c]",34386
3300,1701776547,220,8,CO,"[9h, 8c]",34061
3301,1701776547,221,8,HJ,"[8s, Th]",33736
3302,1701776547,222,8,MP,"[5h, 6s]",33411
3303,1701776547,223,8,UTG+1,"[8s, 8c]",33086
3304,1701776547,224,8,UTG,"[8c, 9h]",39111
3305,1701776547,225,8,BB,"[Ts, 7h]",38786
3306,1701776547,226,8,SB,"[Kd, Qs]",35961

In [125]:
re.search('\d\:\s{}'.format(user),tourny[0][0]).group()
#tourny[0][0]

'8: JJin91'